.aboutHero {
  composes: hero from '../../components/Hero/hero.module.css';
  background: #3d68b0;
}

.aboutHeroImage {
  composes: image from '../../components/Hero/hero.module.css';
  top: 6rem;
  right: 0;
  height: 86vh;
}

.aboutFeatures {
  display: flex;
  margin: 6rem 0;
}

.aboutCV {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12rem;
  margin-bottom: 2rem;
}

.aboutCVIcon {
  margin-bottom: 1.5rem;
}

.aboutCVTitle {
  composes: largePara from '../pages.module.css';
}

@media only screen and (max-width: 1200px) {
  .aboutHeroImage {
    top: 20vh;
    height: 54vh;
  }
}

@media only screen and (max-width: 768px) {
  .aboutFeatures {
    flex-direction: column;
    margin: 2rem 0;
  }
}
