.quote {
  position: relative;
  width: 70%;
  margin: 5rem auto;
  text-align: center;
}

.quotationMarks {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.quotationMark {
  display: flex;
}

.quotationMark:nth-child(1) {
  margin-top: -1.5rem;
  margin-left: -2rem;
}

.quotationMark:nth-child(2) {
  margin-top: 1rem;
  margin-right: -3rem;
}

.apostrophe {
  height: 9rem;
  width: 4rem;
  background: #f2f2f2;
  margin-right: 2.5rem;
  transform: skew(-15deg);
}
