.quote {
  position: relative;
  width: 70%;
  margin: 5rem auto;
  text-align: center;
}

.quotationMarksContainer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.quotationMarks {
  position: relative;
  height: 100%;
  width: 100%;
}

.quotationMark {
  display: flex;
  position: absolute;
}

.quotationMark:nth-child(1) {
  top: -1.5rem;
  left: -2rem;
}

.quotationMark:nth-child(2) {
  bottom: -1.5rem;
  right: -2rem;
}

.apostrophe {
  height: 9rem;
  width: 4rem;
  background: #f2f2f2;
  margin-right: 2.5rem;
  transform: skew(-15deg);
}

@media only screen and (max-width: 768px) {
  .quote {
    width: 85%;
  }

  .quote h3 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  .apostrophe {
    height: 6rem;
    width: 3rem;
  }
}
