.hero {
  position: relative;
  min-height: 38rem;
  height: 100vh;
  color: #fff;
}

.content {
  max-width: 1200px;
  margin: auto;
  padding: 18vh 2rem 0;
}

.title {
  width: 36rem;
  margin-top: 16vh;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.description {
  width: 34rem;
  white-space: pre-line;
  font-size: 1.25rem;
  line-height: 2rem;
}

.subtitle {
  font-size: 1.5rem;
  margin: 1rem 0 1.5rem;
}

.image {
  position: absolute;
  width: 80vw;
  pointer-events: none;
}

@media only screen and (max-width: 1200px) {
  .content {
    max-width: 1000px;
  }

  .content .subtitle {
    font-size: 1.5rem;
  }

  .title,
  .description {
    width: 42vw;
  }
}

@media only screen and (max-width: 1024px) {
  .hero {
    max-height: 68rem;
  }

  .content {
    padding: 20vh 2rem 0;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    max-height: 46rem;
  }

  .title,
  .description {
    width: unset;
  }

  .title {
    margin-top: 8vh;
  }

  .description {
    font-size: 1rem;
  }

  .image {
    display: none;
  }

  .content {
    width: 85%;
    left: 10%;
  }
}
