.unstyledButton {
  border: none;
  padding: 0;
  background: none;
  height: auto;
  width: auto;
  cursor: pointer;
}

/* PROGRESSION BUTTON */

.progressionButton {
  position: relative;
  padding: 0.25rem 0.5rem;
  height: 2rem;
  color: #fff;
  background: unset;
  border-radius: 26px;
  border: 2px solid #fff;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.1s;
}

.progressionButton:active {
  background: #5dbbe3;
  border: 2px solid #5dbbe3;
}

.progressionButton:hover {
  background: #fff;
  border: 2px solid #87e1c6;
}

.progressionButton:hover path {
  fill: #5dbbe3;
}

.content {
  position: absolute;
  top: 0.25rem;
  width: 12rem;
}

.previous .content {
  left: 3rem;
}

.next .content {
  left: -10.5rem;
}

@media only screen and (max-width: 1024px) {
  .content {
    display: none;
  }
}

/* BACK BUTTON */

.backButton {
  position: absolute;
  padding: 0.2rem 0.75rem;
  color: #fff;
  background: unset;
  border-radius: 26px;
  border: 2px solid #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.backButton:active {
  background: #5dbbe3;
  border: 2px solid #5dbbe3;
}

.backButton:hover {
  background: #fff;
  border: 2px solid #87e1c6;
}

.backButton:hover path {
  fill: #5dbbe3;
}

@media only screen and (max-width: 450px) {
  .backButton {
    display: none;
  }
}
