.unstyledButton {
  border: none;
  padding: 0;
  background: none;
  height: auto;
  width: auto;
  cursor: pointer;
}

/* PROGRESSION BUTTON */

.progressionButton {
  position: relative;
  padding: .25rem .5rem;
  height: 2rem;
  color: #fff;
  background: unset;
  border-radius: 26px;
  border: 2px solid #fff;
  font-size: 1.25rem;
  cursor: pointer;
}

.content {
  position: absolute;
  top: 0.25rem;
  width: 12rem;
}

.previous .content {
  left: 3rem;
}

.next .content {
  left: -10.5rem;
}

/* BACK BUTTON */

.backButton {
  position: absolute;
  padding: .2rem .75rem;
  color: #fff;
  background: unset;
  border-radius: 26px;
  border: 2px solid #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
