.contactHero {
  composes: hero from '../../components/Hero/hero.module.css';
  background: #3d68b0;
}

.contactHeroImage {
  composes: image from '../../components/Hero/hero.module.css';
  bottom: -1rem;
  right: 0;
  height: 68vh;
}

.contactForm {
  display: flex;
}

.contactFormDescription {
  composes: largePara from '../pages.module.css';
  width: 42%;
  margin: 0;
  margin-left: 5rem;
}

@media only screen and (max-width: 1200px) {
  .contactHeroImage {
    bottom: -1rem;
    right: 0;
    height: 44vh;
  }
}

@media only screen and (max-width: 768px) {
  .contactForm {
    flex-direction: column-reverse;
  }

  .contactFormDescription {
    width: 95%;
    margin: 0;
    margin-bottom: 2rem;
  }
}
