.mainHero {
  composes: hero from '../components/Hero/hero.module.css';
  background-color: #5dbbe3;
}

.mainHeroImage {
  composes: image from '../components/Hero/hero.module.css';
  bottom: -1.75rem;
  right: 0;
  height: 68vh;
}

.mainHelp {
  display: flex;
  margin-bottom: 6rem;
}

.mainHelpPara {
  composes: largePara from './pages.module.css';
  width: 55%;
  margin: 0;
}

.mainHelpItem {
  color: #0e0c3c;
  font-weight: 600;
  line-height: 1.7rem;
  text-transform: uppercase;
  margin-bottom: .45rem;
}

.mainCases {
  margin-bottom: 6rem;
}

.mainCaseCards {
  display: flex;
  margin-top: 3rem;
}

@media only screen and (max-width: 1200px) {
  .mainHeroImage {
    bottom: -1em;
    right: 0;
    height: 44vh;
  }
}

@media only screen and (max-width: 992px) {
  .mainHelp {
    height: unset;
    flex-direction: column;
    margin-bottom: 4rem;
  }

  .mainHelpPara {
    width: unset;
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .mainCases {
    margin: 3rem 0;
  }

  .mainHelpItem {
    font-size: .9rem;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .mainCaseCards {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .mainHelp {
    flex-direction: column-reverse;
    height: unset;
  }

  .mainHelpPara {
    width: 95%;
  }

  .mainHelpItems {
    width: 80%;
    margin-bottom: 2rem;
    border-left: 1px solid #d8d8d8;
    padding-left: 1rem;
  }

  .mainHelpItem {
    font-size: 0.9rem;
  }
}
