@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

:global h1 {
  font-family: 'Zilla Slab', sans-serif;
  font-size: 5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 2rem;
  line-height: 5rem;
  text-transform: uppercase;
}

:global h2 {
  font-family: 'Zilla Slab', sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
}

:global h3 {
  font-family: 'Zilla Slab', sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

:global p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.page {
  width: 100%;
  position: relative;
}

.heroText {
  width: 30rem;
  position: absolute;
  top: 10rem;
  left: 15%;
}

.heroTitle {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.subtitle {
  font-size: 1.5rem;
  margin: 1rem 0;
}

/* MAIN */

.mainHero {
  min-height: 100vh;
  color: #fff;
  background-color: #5DBBE3;
}

/* WORK */

.workHero {
  min-height: 100vh;
  color: #fff;
  background: #21B8BF;
}

/* ABOUT */

.aboutHero {
  min-height: 100vh;
  color: #fff;
  background: #E23C52;
}

/* CONTACT */

.contactHero {
  min-height: 100vh;
  color: #fff;
  background: #3D68B0;
}
