.page {
  width: 100%;
  position: relative;
}

.content {
  max-width: 1280px;
  margin: auto;
  padding: 0 2rem;
  position: relative;
}

.largePara {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.divider {
  height: 100%;
  width: 1px;
  background-color: #d8d8d8;
  margin: 0 3rem;
}

@media only screen and (max-width: 768px) {
  .largePara {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }

  .content {
    margin: 0 auto;
  }

  .subtitle {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
}
