@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}

:global h1 {
  font-family: 'Zilla Slab', sans-serif;
  font-size: 5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 2rem;
  line-height: 5rem;
  text-transform: uppercase;
}

:global h2 {
  font-family: 'Zilla Slab', sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
}

:global h3 {
  font-family: 'Zilla Slab', sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

:global p {
  font-size: 1rem;
  line-height: 1.5rem;
}

:global a {
  color: #000;
  font-weight: 600;
}

.largePara {
  font-size: 1.5rem;
  line-height: 2rem;
}

.page {
  width: 100%;
  position: relative;
}

.heroText {
  width: 30rem;
  position: absolute;
  top: 10rem;
  left: 15%;
}

.heroTitle {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.heroImage {
  position: absolute;
  pointer-events: none;
}

.subtitle {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.content {
  margin-left: 15%;
  margin-right: 2rem;
  max-width: 1024px;
  position: relative;
}

.divider {
  height: 100%;
  width: 1px;
  background-color: #272626;
  margin: 0 3rem;
}

.fullWidthGrey {
  margin: 0 -9999rem;
  padding: 0.25rem 9999rem;
  background: #f8f8f8;
}

/* MAIN */

.mainHero {
  min-height: 100vh;
  color: #fff;
  background-color: #5dbbe3;
}

.mainHeroImage {
  composes: heroImage;
  top: 5rem;
  right: 0;
  height: 95vh;
}

.mainHelp {
  display: flex;
  height: 10rem;
  margin-bottom: 8rem;
}

.mainHelpPara {
  composes: largePara;
  width: 65%;
  margin: 0;
}

.mainHelpItems {
  width: 35%;
}

.mainHelpItem {
  color: #0e0c3c;
  font-weight: 600;
  line-height: 1.7rem;
  text-transform: uppercase;
}

.mainCases {
  composes: fullWidthGrey;
}

.mainCaseCards {
  display: flex;
}

/* WORK */

.workHero {
  min-height: 100vh;
  color: #fff;
  background: #21b8bf;
}

/* ABOUT */

.aboutHero {
  min-height: 100vh;
  color: #fff;
  background: #e23c52;
}

.aboutHeroImage {
  composes: heroImage;
  top: 8vh;
  right: 0;
  height: 92vh;
}

.aboutDetails {
  display: flex;
  height: 10rem;
  margin-bottom: 8rem;
}

.aboutDetailsPara {
  composes: largePara;
  width: 65%;
  margin: 0;
}

.aboutDetailsItems {
  width: 35%;
}

.aboutDetailsItem {
  color: #0e0c3c;
  font-weight: 600;
  line-height: 1.7rem;
  text-transform: uppercase;
}

/* CONTACT */

.contactHero {
  min-height: 100vh;
  color: #fff;
  background: #3d68b0;
}
