.unstyledButton {
  border: none;
  padding: 0;
  background: none;
  height: auto;
  width: auto;
  cursor: pointer;
}

/* HEADER */

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
}

.headerLogo {
  margin-left: 2rem;
}

.headerLinks {
  color: #fff;
  margin-right: 4rem;
}

.headerLink {
  font-family: 'Zilla Slab', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 2rem;
}

.headerHamburger {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem 1rem 5rem;
  padding: 2rem 0;
  border-top: 1px solid #d8d8d8;
}

.footerSocial {
  display: flex;
}

.footerSocialLink {
  margin-left: 1rem;
}

.footerSocialLink svg {
  width: 2.5rem;
  height: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .footer {
    margin: 1rem;
    padding: 1rem 0;
    font-size: 0.75rem;
    border-top: none;
  }

  .footerSocialLink svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/* CENTER TITLE */

.centerTitle {
  position: relative;
  text-align: center;
}

.centerTitle h3 {
  width: max-content;
  margin: 3rem auto;
  padding: 0 2rem;
  background: #fff;
}

.centerTitleDivider {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  background: #d8d8d8;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  .centerTitle {
    text-align: left;
  }

  .centerTitle h3 {
    padding: 0;
  }

  .centerTitleDivider {
    display: none;
  }
}

/* CASE CARD */

.caseCard {
  background: #fff;
  flex: 1;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.caseCardTitle {
  font-family: 'Zilla Slab', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.caseCardDescription {
  margin-bottom: 1rem;
}

.caseCardLink {
  color: #005783;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caseCardLink svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.75rem;
}

@media only screen and (max-width: 768px) {
  .caseCard {
    margin: 0.5rem 0;
  }
}

/* HIGHLIGHT */

.highlight {
  flex: 1;
  margin: 1rem;
}

.highlightHeader {
  display: flex;
  height: 7rem;
  margin-bottom: 3rem;
}

.highlightIcon svg {
  width: 6rem;
  height: 6rem;
}

.highlightTitles {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.highlightTitle {
  font-family: 'Zilla Slab', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .highlight {
    margin-bottom: 2rem;
  }

  .highlightHeader {
    height: 6rem;
    margin-bottom: 1rem;
  }

  .highlightIcon svg {
    width: 4rem;
    height: 4rem;
  }

  .highlightTitle {
    font-size: 1.25rem;
  }

  .highlightSubtitle,
  .highlightPara {
    font-size: 0.9rem;
  }
}

/* LEAD FORM */

.leadForm {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.leadFormInput {
  background: #f2f2f2;
  color: #0e0c3c;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  border: 2px solid #f2f2f2;
  border-radius: 4px;
  margin-bottom: 2rem;
  padding: 1rem;
  transition: border 0.25s, background 0.25s;
}

.errorInput {
  composes: leadFormInput;
  border: 2px solid #dc143c;
  background: #fcdbe5;
}

.leadFormSubmit {
  width: 14rem;
  margin-top: 2rem;
  border: none;
  border-radius: 4px;
  background: #979797;
  color: #fff;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 0.75rem;
  cursor: pointer;
}

.leadFormSubmit:hover {
  background: #747474;
}

@media only screen and (max-width: 768px) {
  .leadForm {
    width: 100%;
    margin-bottom: 2rem;
  }

  .leadFormSubmit {
    width: 12rem;
    margin: 0 auto;
    font-size: 0.9rem;
  }
}

/* MENU */

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  z-index: 1;
}

.menuLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  margin-top: 5rem;
}

.menuLink {
  font-family: 'Zilla Slab', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}

.menuLinkActive {
  composes: menuLink;
  margin: 0 -9999rem;
  padding: 1.5rem 9999rem;
  background: rgba(255, 255, 255, 0.75);
}

.menuSocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.menuSocialLink {
  display: flex;
  align-items: center;
  font-family: 'Zilla Slab', sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.menuSocialLink svg {
  margin-right: 1.5rem;
}

.menuCloseButton {
  composes: unstyledButton;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
}
