.unstyledButton {
  border: none;
  padding: 0;
  background: none;
  height: auto;
  width: auto;
  cursor: pointer;
}

/* HEADER */

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
}

.headerLogo {
  margin-left: 2rem;
}

.headerLinks {
  color: #fff;
  margin-right: 4rem;
}

.headerLink {
  font-family: 'Zilla Slab', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 2rem;
}

.headerHamburger {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem 1rem;
  padding: 2rem 0;
  border-top: 1px solid #d8d8d8;
}

.footerSocial {
  display: flex;
}

.footerSocialLink {
  margin-left: 1rem;
}

.footerSocialLink svg {
  width: 2.5rem;
  height: 2.5rem;
}

@media only screen and (max-width: 768px) {
  .footer {
    margin: 1rem 2rem;
    padding: 1rem 0;
    font-size: 0.75rem;
    border-top: none;
  }

  .footerSocialLink svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/* CENTER TITLE */

.centerTitle {
  position: relative;
  text-align: center;
  z-index: 1;
}

.centerTitle h3 {
  width: max-content;
  margin: 3rem auto;
  padding: 0 2rem;
  background: #fff;
}

.centerTitleDivider {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  background: #d8d8d8;
  z-index: -1;
}

@media only screen and (max-width: 768px) {
  .centerTitle {
    text-align: left;
  }

  .centerTitle h3 {
    padding: 0;
  }

  .centerTitleDivider {
    display: none;
  }
}

/* CASE CARD */

.caseCard {
  background: #fff;
  flex: 1;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.caseCardTitle {
  font-family: 'Zilla Slab', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.caseCardSubtitle {
  margin-bottom: 1rem;
}

.caseCardLink {
  color: #005783;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caseCardLink svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.75rem;
}

.caseCardImage {
  height: 18rem;
  overflow: hidden;
}

@media only screen and (max-width: 768px) {
  .caseCard {
    margin: 0.5rem 0;
  }
}

/* FEATURE */

.feature {
  flex: 1;
  margin: 1rem;
}

.featureHeader {
  display: flex;
  height: 7rem;
  margin-bottom: 3rem;
}

.featureIcon {
  width: 5rem;
  height: 5rem;
}

.featureTitles {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.featureTitle {
  font-family: 'Zilla Slab', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 768px) {
  .feature {
    margin-bottom: 2rem;
  }

  .featureHeader {
    height: 6rem;
    margin-bottom: 1rem;
  }

  .featureIcon {
    width: 4rem;
    height: 4rem;
  }

  .featureTitle {
    font-size: 1.25rem;
  }

  .featureSubtitle,
  .featureDescription {
    font-size: 0.9rem;
  }
}

/* LEAD FORM */

.leadForm {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.leadFormInput {
  background: #f2f2f2;
  color: #0e0c3c;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  border: 2px solid #f2f2f2;
  border-radius: 4px;
  margin: 1rem 0;
  padding: 1rem;
  transition: border 0.25s, background 0.25s;
}

.leadFormInput:focus {
  background: #fff;
}

.errorInput {
  composes: leadFormInput;
  border: 2px solid #dc143c;
  background: #fff;
}

.inputError {
  margin-bottom: 1rem;
  color: #e23c52;
}

.leadFormSubmit {
  width: 14rem;
  margin-top: 2rem;
  border: none;
  border-radius: 4px;
  background: #005783;
  color: #fff;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 0.75rem;
  cursor: pointer;
}

.leadFormSubmit:hover {
  background: #349acd;
}

@media only screen and (max-width: 768px) {
  .leadForm {
    width: 100%;
    margin-bottom: 2rem;
  }

  .leadFormSubmit {
    width: 12rem;
    margin: 0 auto;
    font-size: 0.9rem;
  }
}

/* MENU */

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  z-index: 1;
}

.menuLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  margin-top: 5rem;
}

.menuLink {
  font-family: 'Zilla Slab', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
}

.menuLinkActive {
  composes: menuLink;
  margin: 0 -9999rem;
  padding: 1.5rem 9999rem;
  background: rgba(255, 255, 255, 0.75);
}

.menuSocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.menuSocialLink {
  display: flex;
  align-items: center;
  font-family: 'Zilla Slab', sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.menuSocialLink svg {
  margin-right: 1.5rem;
}

.menuCloseButton {
  composes: unstyledButton;
  position: absolute;
  top: 2rem;
  right: 1.5rem;
}

/* IMAGE AND TEXT */

.imageAndText {
  display: flex;
  justify-content: space-between;
  height: 38rem;
  max-width: 80rem;
  margin: 2rem auto;
  padding: 0 2rem;
}

.imageAndText .textSide,
.imageAndText .imageSide {
  width: 45%;
}

.imageAndText .textSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageAndText .title {
  font-size: 48px;
  margin-bottom: 1rem;
}

.imageAndText .description {
  width: 30rem;
}

.imageAndText .imageSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* TIMELINE */

.timeline {
  composes: fullWidthGrey from '../global.module.css';
  display: flex;
  flex-direction: column;
}

.timeline .centerTitle h3 {
  background: #f8f8fe;
}

.timelineItem {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 5rem;
}

.timelineTitle {
  width: 26rem;
  margin-right: 2rem;
  text-align: right;
  font-family: 'Zilla Slab', sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
}

.timelineDescription {
  width: 26rem;
  margin-left: 2rem;
}

.timelinePoint {
  border-radius: 30px/30px;
  border: solid 2px #E23C52;
  width: 30px;
  height: 30px;
}

.timelineLine {
  position: absolute;
  width: 2px;
  height: 130%;
  top: 2.75rem;
  background: #3D68B0;
}

.timelineItem:last-of-type .timelinePoint {
  border-radius: 50%;
  border: solid 2px #E23C52;
  background: #E23C52;
  width: 30px;
  height: 30px;
}

.timelineItem:last-of-type .timelineLine {
  display: none;
}

/* FULL-WIDTH BACKGROUND */

.fullWidthBackground {
  composes: fullWidthGrey from '../global.module.css';
}

/* RESULTS */

.results {
  margin: 4rem 0;
}

.resultsTitle {
  margin-bottom: 5rem;
}

.resultsDescription {
  font-family: 'Zilla Slab', sans-serif;
  font-style: italic;
}

.resultsSections {
  display: flex;
  flex-direction: row;
}

.resultsSection1,
.resultsSection2 {
  width: 35%;
}

.resultsSection1 {
  margin-right: 3rem;
}

.resultsContent {
  padding: 0 1rem;
  border-left: 1px solid #d8d8d8;
}

.resultsSection2 h3,
.resultsSection3 h3 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.vareResults .resultsSections {
  justify-content: space-between;
}

.vareResults .resultsSection1 {
  margin-right: 0;
}

.vareResults .resultsSection2,
.vareResults .resultsSection3 {
  width: 25%;
}

.vareResults .resultsRatingTitle {
  margin-right: 1rem;
}

.vareResults .resultsRatingTitle,
.vareResults .resultsRatingSubtitle {
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .resultsTitle {
    margin-bottom: 2rem;
  }

  .resultsSections {
    flex-direction: column;
  }

  .resultsSection1,
  .resultsSection2,
  .resultsSection3 {
    width: 80%;
    margin: 0 auto 3rem;
  }
}

/* QUOTE */

.quote {
  text-align: center;
  width: 70%;
  margin: 5rem auto;
}

.quotationMarks {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.quotationMark {
  display: flex;
}

.quotationMark:nth-child(1) {
  margin-top: -1.5rem;
}

.quotationMark:nth-child(2) {
  margin-top: 1rem;
}

.apostrophe {
  height: 9rem;
  width: 4rem;
  background: #f2f2f2;
  margin-right: 2.5rem;
  transform: skew(-15deg);
}
