/* HEADER */

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
}

.headerLogo {
  margin-left: 2rem;
}

.headerLinks {
  color: #fff;
  margin-right: 4rem;
}

.headerLink {
  font-family: 'Zilla Slab', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 2rem;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem 1rem 5rem;
  padding: 2rem 0;
  border-top: 1px solid #d8d8d8;
}

.footerSocial {
  display: flex;
}

.footerSocialLink {
  margin-left: 1rem;
}

/* CENTER TITLE */

.centerTitle {
  position: relative;
  text-align: center;
}

.centerTitle h3 {
  width: max-content;
  margin: 3rem auto;
  background: #fff;
}

.centerTitleDivider {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  background: #d8d8d8;
  z-index: -1;
}

/* CASE CARD */

.caseCard {
  background: #fff;
  flex: 1;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

.caseCardTitle {
  font-family: 'Zilla Slab', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.caseCardDescription {
  margin-bottom: 1rem;
}

.caseCardLink {
  color: #005783;
  text-decoration: none;
}
