.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 0;
}

.headerLogo {
  margin-left: 2rem;
}

.headerLinks {
  color: #fff;
  margin-right: 4rem;
}

.headerLink {
  font-family: 'Zilla Slab', sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 2rem;
}
