.caseCard {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  background: #fff;
  border: 2px solid #f8f8fe;
  text-decoration: none;
  transition: 0.1s all;
}

.caseCard:hover {
  border: 2px solid #fff;
  box-shadow: -2px 3px 30px 0px rgba(14, 22, 63, 0.1);
  -webkit-box-shadow: -2px 3px 30px 0px rgba(14, 22, 63, 0.1);
  -moz-box-shadow: -2px 3px 30px 0px rgba(14, 22, 63, 0.1);
}

.title {
  font-family: 'Zilla Slab', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.subtitle {
  margin-bottom: 1rem;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  color: #005783;
  text-decoration: none;
}

.link svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.75rem;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 18rem;
  overflow: hidden;
  padding: 0 1.25rem;
}

@media only screen and (max-width: 992px) {
  .image {
    height: 12rem;
  }
}

@media only screen and (max-width: 768px) {
  .image {
    height: 11rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 700px) {
  .caseCard {
    margin: 0.5rem 0;
  }
}

@media only screen and (min-width: 480px) {
  .caseCard:first-of-type {
    margin-left: 0;
  }

  .caseCard:last-of-type {
    margin-right: 0;
  }
}
