.workHero {
  composes: hero from '../../components/Hero/hero.module.css';
  background: #21b8bf;
}

.workHeroImage {
  composes: image from '../../components/Hero/hero.module.css';
  top: 20vh;
  right: 5rem;
  height: 74vh;
}

.workCases {
  margin: 4rem 0;
}

@media only screen and (max-width: 1200px) {
  .workHeroImage {
    top: 26vh;
    right: 3rem;
    height: 50vh;
  }
}

/* VÄRE */

.vareHero {
  composes: hero from '../../components/Hero/hero.module.css';
  background: #5dbbe3;
}

.vareHeroImage {
  composes: image from '../../components/Hero/hero.module.css';
  top: 34vh;
  right: -12rem;
  height: 58vh;

}

.vareFeatures {
  display: flex;
  margin: 6rem 0;
}

@media only screen and (max-width: 1200px) {
  .vareHeroImage {
    top: 36vh;
    right: -8rem;
    height: 42vh;
  }
}

@media only screen and (max-width: 768px) {
  .vareFeatures {
    flex-direction: column;
  }
}

/* ABB */

.abbHero {
  composes: hero from '../../components/Hero/hero.module.css';
  background: #21B8BF;
}

.abbHeroImage {
  composes: image from '../../components/Hero/hero.module.css';
  top: 26vh;
  right: -18rem;
  height: 54vh;
  width: 75vw;
}

.abbFeatures {
  display: flex;
  margin: 6rem 0;
}

@media only screen and (max-width: 1200px) {
  .abbHeroImage {
    top: 40vh;
    right: -14rem;
    height: 34vh;
  }
}

@media only screen and (max-width: 768px) {
  .abbFeatures {
    flex-direction: column;
  }
}

/* MACGREGOR */

.macgregorHero {
  composes: hero from '../../components/Hero/hero.module.css';
  background: #3D68B0;
}

.macgregorHeroImage {
  composes: image from '../../components/Hero/hero.module.css';
  top: 18vh;
  right: 8rem;
  height: 78vh;
}

.macgregorFeatures {
  display: flex;
  margin: 6rem 0;
}

@media only screen and (max-width: 1200px) {
  .macgregorHeroImage {
    top: 26vh;
    right: 5rem;
    height: 50vh;
  }
}

@media only screen and (max-width: 768px) {
  .macgregorFeatures {
    flex-direction: column;
  }
}

/* VARIOUS */

.variousHero {
  composes: hero from '../../components/Hero/hero.module.css';
  background: #5DBBE3;
}

.variousHeroImage {
  composes: image from '../../components/Hero/hero.module.css';
  bottom: 0;
  right: -10rem;
  height: 80vh;
}

@media only screen and (max-width: 1200px) {
  .variousHeroImage {
    height: 48vh;
  }
}

