.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem 1rem;
  padding: 2rem 0;
  border-top: 1px solid #d8d8d8;
}

.social {
  display: flex;
}

.socialLink {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 1rem;
  background: #272626;
  border: 2px solid #272626;
  border-radius: 5px;
  transition: 0.1s all;
}

.socialLink:active {
  background: #495376;
  border: 2px solid #495376;
}

.socialLink:hover {
  background: #495376;
  border: 2px solid #87e1c6;
}

.socialLink svg {
  width: 2.5rem;
  height: 2.5rem;
}

.socialLink svg > path {
  fill: #272626;
}

.socialLink:active svg > path {
  fill: #495376;
}

.socialLink:hover svg > path {
  fill: #495376;
}

@media only screen and (max-width: 768px) {
  .footer {
    margin: 1rem 2rem;
    padding: 1rem 0;
    font-size: 0.75rem;
    border-top: none;
  }

  .socialLink svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}
