.imageAndText {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 38rem;
  max-width: 80rem;
  margin: 2rem auto;
}

.textSide,
.imageSide {
  width: 45%;
}

.textSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spacing {
  width: 5rem;
}

.title {
  font-size: 48px;
  margin-bottom: 1rem;
}

.description {
  width: 30rem;
  line-height: 1.75rem;
}

.imageSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0px;
}

@media only screen and (max-width: 1024px) {
  .imageAndText {
    height: unset;
    min-height: 45vh;
  }

  .description {
    width: unset;
  }
}

@media only screen and (max-width: 992px) {
  .textSide {
    width: 100%;
  }

  .imageSide {
    width: 75%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .imageAndText {
    min-height: 55vh;
  }
}

@media only screen and (max-width: 450px) {
  .imageAndText {
    flex-direction: column;
    min-height: unset;
    padding: 1rem 0;
  }

  .imageSide {
    width: 90%;
  }

  .spacing {
    display: none;
  }

  .title {
    font-size: 36px;
    line-height: 3rem;
  }
}
