.imageAndText {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 38rem;
  max-width: 80rem;
  margin: 2rem auto;
}

.textSide,
.imageSide {
  width: 45%;
}

.textSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 48px;
  margin-bottom: 1rem;
}

.description {
  width: 30rem;
  line-height: 1.75rem;
}


.imageSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0px;
}

@media only screen and (max-width: 768px) {
  .imageAndText {
    flex-direction: column;
    height: 24rem;
  }

  .textSide {
    width: 100%;
  }

  .imageSide {
    display: none;
  }

  .description {
    width: unset;
  }
}

@media only screen and (max-width: 450px) {
  .title {
    font-size: 36px;
    line-height: 3rem;
  }
}
