.showcase {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  margin: 0 -9999rem !important;
  padding: 2rem 9999rem !important;
  overflow: hidden;
}

.showcase h3 {
  width: 58%;
  margin: 2rem auto 0;
  text-align: center;
  color: #fff;
}

.buttons {
  width: calc(100vw - 6rem);
  max-width: 76rem;
  position: absolute;
  top: 5rem;
  display: flex;
  justify-content: space-between;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
  z-index: 1;
}

.descriptionBoxes {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 85vw;
  height: 100%;
  max-width: 80rem;
  z-index: 1;
}

.descriptionBox {
  position: absolute;
  min-height: 1.5rem;
  width: 13rem;
  padding: 1.25rem 1rem;
  line-height: 1.75rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.16);
}

.descriptionBoxLeft {
  left: 0;
}

.descriptionBoxRight {
  right: 0;
}

.dottedLine {
  position: absolute;
  top: 50%;
  height: 2px;
  max-width: 180px;
  width: 12vw;
  border-bottom: 3px dotted #fff;
}

.descriptionBoxLeft .dottedLine {
  left: 15rem;
}

.descriptionBoxRight .dottedLine {
  right: 15rem;
}

@media only screen and (max-width: 1024px) {
  .dottedLine {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    margin-top: 6rem;
  }

  .showcase h3 {
    margin-top: 3rem;
  }
}

/* MOBILE SHOWcASE */

.breadcrumbs {
  height: 1rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 2rem auto 0;
}

.breadcrumb {
  height: .25rem;
  width: 10rem;
  background: #fff;
  margin: 0 .25rem;
  opacity: .5;
  transition: .1s all;
}

.activeBreadcrumb {
  composes: breadcrumb;
  height: .5rem;
  background: #fff;
  opacity: 1;
}

@media only screen and (max-width: 450px) {
  .showcase {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .showcase h3 {
    height: 4.5rem;
    width: 80%;
  }

  .content {
    margin-top: 5rem;
  }
}
