@import url('https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  color: #0e0c3c;
  overflow-x: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
}

:global h1 {
  font-family: 'Zilla Slab', sans-serif;
  font-size: 5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 2rem;
  line-height: 5rem;
  text-transform: uppercase;
}

:global h2 {
  font-family: 'Zilla Slab', sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
}

:global h3 {
  font-family: 'Zilla Slab', sans-serif;
  font-size: 3rem;
  font-weight: 600;
}

:global p {
  font-size: 1rem;
  line-height: 1.5rem;
}

:global a {
  color: #0e0c3c;
  font-weight: 600;
}

button:focus:not(.focus-visible),
input:focus:not(.focus-visible) {
  outline: none;
}
